# LOCATION:freeciv-web/flyway.properties
flyway.user=sa
flyway.password=
flyway.url=jdbc:h2:/var/lib/freecivx/freecivx_15;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
flyway.placeholders.db.type=h2
