<!-- LOCATION:freeciv-web/src/main/webapp/META-INF/context.xml
-->
<Context>

  <Resource name="jdbc/freeciv_mysql" auth="Container" type="javax.sql.DataSource"
            maxTotal="400" maxIdle="50" minIdle="10" maxWaitMillis="10000"
            username="sa" password=""
            driverClassName="org.h2.Driver"
            validationQuery="SELECT 1"
            url="jdbc:h2:/tmp/freecivx_15;TRACE_LEVEL_FILE=4;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"/>

</Context>
